<template>
    <div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800">Edit Cat</h1>
        <p class="mb-4">Provide information to update cat</p>
        <hr>
        <form @submit.prevent="submitHandler">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" v-model="cat.name" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Breed</label>
                    <input type="text" v-model="cat.breed" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Description</label>
                    <input type="text" v-model="cat.description" class="form-control">
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Update Cat">
        </form>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            cat: {},
        }
    },
    created() {
        this.loadCat();
    },
    methods: {
        loadCat: function() {
            this.$axios.get('/api/cat/' + this.$route.params.id)
                .then((response) => {
                    this.cat = response.data.data;
                    console.log(this.cat);
                })
                .catch(function (error) {
                    console.error(error);
                });
        },
        submitHandler: function() {
            this.$axios.put('/api/cat/' + this.$route.params.id, this.cat)
                .then((response) => {
                    this.$router.push('/cat');
                })
                .catch(e => {
                    this.errors = e.response.data.errors;
                });
        },
    }
}
</script>
