<template>
    <div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800">Bag Details 
            <a class="btn btn-danger btn-sm text-white float-right ml-3" @click="submitHandler">Delete</a>
            <nuxt-link class="btn btn-dark btn-sm text-white float-right" :to="{name:'cat-edit-id', params:{id:cat.id}}">Edit</nuxt-link>
            </h1>
        <p class="mb-4">See bag details below</p>
        <hr>
        <div class="card" v-if="cat" style="width: 25rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">Name:</div>
                    <div class="col-8"><b>{{ cat.name }}</b></div>
                </div>
                <div class="row">
                    <div class="col-4">Breed:</div>
                    <div class="col-8"><b>{{ cat.breed }}</b></div>
                </div>
                <div class="row">
                    <div class="col-4">Description:</div>
                    <div class="col-8"><b>{{ cat.description }}</b></div>
                </div>
                <div class="row">
                    <div class="col-4">Created:</div>
                    <div class="col-8"><b>{{ cat.created_at }}</b></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            cat: {},
        }
    },
    created() {
        this.loadCat();
    },
    methods: {
        submitHandler: function() {
            this.$axios.delete('/api/cat/' + this.$route.params.id)
                .then((response) => {
                    this.$router.push('/cat');
                })
                .catch(e => {
                    this.errors = e.response.data.errors;
                });
        },
        loadCat: function() {
            this.$axios.get('/api/cat/' + this.$route.params.id)
                .then((response) => {
                    this.cat = response.data.data;
                    console.log(this.cat);
                })
                .catch(function (error) {
                    console.error(error);
                });
        },
    }
}
</script>
