<template>
    <div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800">Add New Cat</h1>
        <p class="mb-4">Provide information to create new cat</p>
        <hr>
        <errors :errors="errors" />
        <form @submit.prevent="submitHandler">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" v-model="cat.name" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Breed</label>
                    <input type="text" v-model="cat.breed" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Description</label>
                    <input type="text" v-model="cat.description" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Description (Optional)</label>
                    <select class="form-control" v-model="cat.location">
                        <option value="">-- Select Location --</option>
                        <option v-for="location in locations.data" :value="location.id" :key="location.id">{{ location.name }}</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Add New Cat">
        </form>
    </div>
</template>
<script>
import Errors from '../../components/Errors.vue';
export default {
    data: function() {
        return {
            errors: null,
            cat: {
                name: null,
                breed: null,
                description: null,
                location: "",
            },
            locations:[],
        }
    },
    created: function() {
        this.fetchLocation();
    },
    methods: {
        submitHandler () {
            this.$axios.post('/api/cat', this.cat)
            .then((response) => {
                this.$router.push({path: '/cat' });
            })
            .catch(e => {
                this.errors = e.response.data.errors;
            });
        },
        async fetchLocation () {
            await this.$axios.get('/api/map/location')
                .then((response) => {
                    this.locations = response.data;
                    console.log(this.locations);
                })
                .catch(function (error) {
                    console.error(error);
                });
        },
    }
}
</script>
