<template>
    <div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800">All Cats</h1>
        <p class="mb-4">See list of all cats entered</p>
        <hr>
        <!-- <errors :errors="errors" /> -->
        <div class="mt-3">
            <table class="table table-bordered table-sm table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Breed</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in items.data" :key="item.id">
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.breed }}
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <nuxt-link :to="{name:'cat-id', params:{id:item.id}}" class="btn btn-primary btn-sm text-white">View</nuxt-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            items:{},
        }
    },
    created: function() {
        this.fetchCourier();
    },
    methods: {
        fetchCourier: function() {
            this.$axios.get('/api/cat')
            .then((response) => {
                this.items = response.data;
            })
            .catch(function (error) {
                console.error(error);
            });
        },
    }
}
</script>