<template>
    <div class="container-fluid">
        <h1 class="h3 mb-0 text-gray-800">Map</h1>
        <p class="mb-4">See location for cats</p>
        <hr>
        <div class="mt-3">
            <table class="table table-bordered table-sm table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="map in maps" :key="map.id">
                    <td>{{ map.name }}</td>
                    <td v-if="map.location">{{ map.location.name}}</td>
                    <td v-else>No Location</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    data: function() {
        return {
            maps:{},
        }
    },
    created: function() {
        this.fetchCourier();
    },
    methods: {
        fetchCourier: function() {
            this.$axios.get('/api/map')
            .then((response) => {
                this.maps = response.data.data;
            })
            .catch(function (error) {
                console.error(error);
            });
        },
    }
}
</script>