<template>
    <div v-if="errors" class="alert alert-danger">
        <template v-for="field in errors">
            <div v-for="error in field">{{ error }}</div>
        </template>
    </div>
</template>

<script>
export default {
    props: ['errors']
}
</script>