<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <router-link to="/"  class="navbar-brand text-white ml-3">Cat Management</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <nuxt-link :to="{name:'cat-create'}" class="nav-item nav-link">Add Cat</nuxt-link>
                        </li>
                        <li class="nav-item">
                            <nuxt-link :to="{name:'cat'}" class="nav-item nav-link">All Cat</nuxt-link>
                        </li>
                        <li class="nav-item">
                            <nuxt-link :to="{name:'map'}" class="nav-item nav-link">Map</nuxt-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-3">
            <Nuxt />
        </div>
    </div>
</template>